Leitura e Escrita de UM DB

In [11]:
import pandas as pd
import sqlite3

1) Criar as seguintes funções:

def tabelas_bd(): retorna um dataframe com as tabelas do banco de dados.

In [12]:
#Criar uma função que vai retornar um dataframe com o nome de
#todas as tabelas do banco de dados que será criado
def tabelas_bd():
    #conecta o BD
    conec = sqlite3.connect('coderhouse.db')
    #Query que realiza a consulta do nome das tabelas
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    #Lendo a consulta dentro da base através do pandas
    schema = pd.read_sql_query(query, conec)
    #encerra a conexão
    conec.close()
    return(schema)

def salva_bd(df, nome_tabela): salva dataframe df na tabela nome_tabela.

In [13]:
#Cria uma função que salva os dados da planilha num dataframe (df) 
#e aponta o nome da planilha na variável (nome_tabela) 
#para definir essa planilha como uma tabela
def salva_bd(df, nome_tabela):
   #conecta no bd
   conec = sqlite3.connect('coderhouse.db')
   #cria um df que insere os dados da planilha e nomeia ela
   df.to_sql(nome_tabela, conec, if_exists='replace', index=False)
   #encerra a conexão
   conec.close()
   return True
#OBS, essa função não trás nada em tela, apenas cria uma nova tabela no banco e insere os dados nela
#o df é onde os dados serão inseridos, já o nome_tabela será o nome que ela ficará no banco

def carrega_bd(nome_tabela): carrega tabela nome_tabela num dataframe

In [14]:
#Criar uma função que mostra os dados da planilha quando buscado a função 
#com o nome da planilha entre "("")"
def carrega_bd(nome_tabela):
    #conecta no bd
    conec = sqlite3.connect('coderhouse.db')
    #Query que consulta dados da planilha
    query = f"SELECT * FROM {nome_tabela}"
    df = pd.read_sql(query, conec)
    #encerra a conexão
    conec.close()
    return(df)
#OBS: Essa função faz o insert de

2) Utilize a tabela do arquivo fastfood.xlsx para testar as funções criadas adicionando o dataframe ao banco de dados

In [15]:
#Importar a planilha fastfood no python e executar cada função em cima dela
#ordem: tabelas_bd, salva_bd e carrega_bd
fastfood = pd.read_excel("fastfood.xlsx")
#Aqui ele vai carregar os dados da planilha dentro do dataframe chamado fastfood

In [16]:
#mostra as tabelas já criadas
tabelas_bd()

       name
0  produtos

In [23]:
#salva dentro do BD uma nova tabela, ela vai pegar o fastfood que é o dataframe
#que está com os dados da planilha e vai nomear ela de "fastfood2"
salva_bd(fastfood,      #carrega dados do dataframe
         "fastfood2")   #nomeia a tabela

True

In [24]:
#mostra as tabelas, agora atualizado
tabelas_bd()

        name
0   produtos
1   fastfood
2  fastfood2

In [27]:
#cria um novo dataframe que mostra a tabela fastfood2
df_carrega = carrega_bd("fastfood2")
df_carrega.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other