In [66]:
#Importando as bibliotecas
import requests
import pandas as pd
from plyer import notification

In [68]:
#Declara a variável que recebe a URL e seu STATUS
url = 'https://pokeapi.co/api/v2/pokemon'
response = requests.get(url)
data_poke = response.json()

In [69]:
#DATAFRAME df_pokemon

#Função que faz o get do ID do pokémon dentro do arquivo JSON
def get_id(url):
    response = requests.get(url)
    #Se o status for 200 pega o ID
    if response.status_code == 200:
        return response.json().get('id')
    #Senão gera o alerta
    else:
        notification.notify(
            title= 'ERRO AO CONSULTAR A API',
            message='A API não está retornando um valor para acesso.',
            app_name='Python',
            timeout=10
    ) 
        return None

#Realiza o if que compara o status_code
if response.status_code == 200:
    #Declara outra variável, que recebe apenas a lista de results do JSON
    poke_results = data_poke['results']

    #Declara um DATAFRAME que recebe o valor de poke_results
    df = pd.DataFrame(poke_results)

    #Adiciona a coluna ID no DATAFRAME df_pokemon pegando o valor direto da função pelo .apply
    df['id_pokemon'] = df['url'].apply(get_id)

    #Declarando o DATAFRAME final e mostrando-o
    df_pokemon = df[['id_pokemon', 'name']]
    display(df_pokemon)

#Se o status_code for diferente de 200 gera o alerta
else:
    notification.notify(
        title= 'ERRO AO CONSULTAR A API',
        message='A API não está retornando um valor para acesso.',
        app_name='Python',
        timeout=10
    )

    id_pokemon        name
0            1   bulbasaur
1            2     ivysaur
2            3    venusaur
3            4  charmander
4            5  charmeleon
5            6   charizard
6            7    squirtle
7            8   wartortle
8            9   blastoise
9           10    caterpie
10          11     metapod
11          12  butterfree
12          13      weedle
13          14      kakuna
14          15    beedrill
15          16      pidgey
16          17   pidgeotto
17          18     pidgeot
18          19     rattata
19          20    raticate

In [64]:
#DATAFRAME df_poke_info

#Função que faz o get das infos do pokemon dentro do arquivo JSON
def get_info(url):
    response = requests.get(url)
    #Se o status for 200 pega a base_experience
    if response.status_code == 200:
        id_pokemon = response.json().get('id')  
        base_experience = response.json().get('base_experience')  
        height = response.json().get('height')  
        weight = response.json().get('weight')  
        #Retorna todas as colunas que serão criadas no dataframe
        return id_pokemon, base_experience, height, weight
    #Senão gera o alerta
    else:
        notification.notify(
            title= 'ERRO AO CONSULTAR A API',
            message='A API não está retornando um valor para acesso.',
            app_name='Python',
            timeout=10
    ) 
        return None, None, None, None


#Realiza o if que compara o status_code
if response.status_code == 200:
    #Declara outra variável, que recebe apenas a lista de results do JSON
    poke_results = data_poke['results']

    #Declara o DATAFRAME que recebe o valor de poke_results e declara o DATAFRAME FINAL
    df = pd.DataFrame(poke_results)
    df_poke_info_geral = pd.DataFrame()

    #Adicionando das colunas e dados referentes a id, base_experience, altura e peso  
    df_poke_info_geral[['id_pokemon', 'base_experience', 'height', 'weight']] = df['url'].apply(get_info).apply(pd.Series)   

    #Mostra os dados do DATAFRAME
    display(df_poke_info_geral)
# Se o status_code for diferente de 200, gera um alerta
else:
    notification.notify(
        title='ERRO AO CONSULTAR A API',
        message='A API não está retornando um valor para acesso.',
        app_name='Python',
        timeout=10
    )

    id_pokemon  base_experience  height  weight
0            1               64       7      69
1            2              142      10     130
2            3              263      20    1000
3            4               62       6      85
4            5              142      11     190
5            6              267      17     905
6            7               63       5      90
7            8              142      10     225
8            9              265      16     855
9           10               39       3      29
10          11               72       7      99
11          12              198      11     320
12          13               39       3      32
13          14               72       6     100
14          15              178      10     295
15          16               50       3      18
16          17              122      11     300
17          18              216      15     395
18          19               51       3      35
19          20              145       7     185

In [65]:
#DATAFRAME DF_POKE_STATS

#Função que faz o get do ID do pokémon dentro do arquivo JSON
def get_id(url):
    response = requests.get(url)
    #Se o status for 200 pega o ID
    if response.status_code == 200:
        return response.json().get('id')
    #Senão gera o alerta
    else:
        notification.notify(
            title= 'ERRO AO CONSULTAR A API',
            message='A API não está retornando um valor para acesso.',
            app_name='Python',
            timeout=10
    )

#Função que faz o GET do HP, ATAQUE, DEFESA, ESPECIAL DEFESA, ESPECIAL ATAQUE e VELOCIDADE
def get_stats(url):
    response = requests.get(url)
    data_poke = response.json()
    if response.status_code == 200:
        hp = next(valor_hp['base_stat'] for valor_hp in data_poke['stats'] if valor_hp['stat']['name'] == 'hp')
        ataque = next(valor_ataque['base_stat'] for valor_ataque in data_poke['stats'] if valor_ataque['stat']['name'] == 'attack')
        defesa = next(valor_defesa['base_stat'] for valor_defesa in data_poke['stats'] if valor_defesa['stat']['name'] == 'defense')
        sp_ataque = next(valor_sp_ata['base_stat'] for valor_sp_ata in data_poke['stats'] if valor_sp_ata['stat']['name'] == 'special-attack') 
        sp_defesa = next(valor_sp_def['base_stat'] for valor_sp_def in data_poke['stats'] if valor_sp_def['stat']['name'] == 'special-defense')
        velocidade = next(valor_speed['base_stat'] for valor_speed in data_poke['stats'] if valor_speed['stat']['name'] == 'speed')
        return hp, ataque, defesa, sp_ataque, sp_defesa, velocidade
    else:
        notification.notify(
            title= 'ERRO AO CONSULTAR A API',
            message='A API não está retornando um valor para acesso.',
            app_name='Python',
            timeout=10
    )
        return None, None, None, None, None, None
#Função que faz o get dos status do pokémon dentro do arquivo JSON
    
if response.status_code == 200:

    #Declara uma variável que recebe o JSON da resposta
    data_poke = response.json()
    #Pega o results dentro do JSON
    poke_results = data_poke['results']

    #Declara dois dataframes que vão receber os dados
    df = pd.DataFrame(poke_results)
    df_poke_stats = pd.DataFrame()

    #Aplica os dados no dataframe final
    df_poke_stats['id_pokemon'] = df['url'].apply(get_id)
    df_poke_stats[['hp', 'ataque', 'defesa', 'ataque_especial', 'defesa_especial', 'velocidade']] = df['url'].apply(get_stats).apply(pd.Series)

    display(df_poke_stats)

else:
    notification.notify(
        title='ERRO AO CONSULTAR A API',
        message='A API não está retornando um valor para acesso.',
        app_name='Python',
        timeout=10
    )

,id_pokemon,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade
0,1,45,49,49,65,65,45
1,2,60,62,63,80,80,60
2,3,80,82,83,100,100,80
3,4,39,52,43,60,50,65
4,5,58,64,58,80,65,80
5,6,78,84,78,109,85,100
6,7,44,48,65,50,64,43
7,8,59,63,80,65,80,58
8,9,79,83,100,85,105,78
9,10,45,30,35,20,20,45
10,11,50,20,55,25,25,30
11,12,60,45,50,90,80,70
12,13,40,35,30,20,20,50
13,14,45,25,50,25,25,35
14,15,65,90,40,45,80,75
15,16,40,45,40,35,35,56
16,17,63,60,55,50,50,71
17,18,83,80,75,70,70,101
18,19,30,56,35,25,35,72
19,20,55,81,60,50,70,97