# Data Wrangling I
## Exercicios em Sala
https://www.kaggle.com/datasets/ahmedshahriarsakib/usa-real-estate-dataset?resource=download

Utilizando a base "realtor-data.csv" gerar uma amostra com os seguintes requisitos:
 - amostra aleatória
 - com 1.000 registros, sendo:
   - 250 do estado de Massachusetts
   - 250 do estado de Puerto Rico
   - 250 do estado de Connecticut       
   - 250 dos estados Rhode Island e New York
 - somente casas for_sale
 - sem duplicidades de status, city, state e price
   - na remoção de duplicados priorizar as casas maiores.
   
Valide a amostra criada.

In [5]:
import pandas as pd
import numpy as np

In [6]:
#importa a planilha num dataframe
amostra = pd.read_csv("realtor-data.csv")
amostra.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0

In [7]:
#primeiro mostra o dataframe agrupado pelo status e pelo preço
print(amostra.groupby(["status"]).count()["price"])
#segundo mostra o dataframe agrupado pelo estado e pelo preço
print(amostra.groupby(["state"]).count()["price"])

status
for_sale          99819
ready_to_build      181
Name: price, dtype: int64
state
Connecticut       12178
Massachusetts     52694
New Hampshire      2232
New Jersey            2
New York           1874
Puerto Rico       24679
Rhode Island       2401
South Carolina       24
Tennessee            16
Vermont            1324
Virgin Islands     2573
Virginia              3
Name: price, dtype: int64

In [8]:
#mostra o total de linha e colunas
amostra.shape

(100000, 10)

In [9]:
#filtra somente pelo status for_sale
amostra_for_sale = amostra[amostra["status"] == "for_sale"]
#mostra a quantidade de linhas e colunas
amostra_for_sale.shape

(99819, 10)

In [10]:
#ordena o dataframe pelo house_size
amostra_sem_dup = amostra_for_sale.sort_values(["house_size"])
#remove os status, city, state e price duplicados
amostra_sem_dup = amostra_sem_dup.drop_duplicates(["status", "city", "state", "price"], keep="last")
#mostra a qtd de linhas e colunas
amostra_sem_dup.shape

(12067, 10)

In [29]:
#cria os dataframe filtrando por cada estado solicitado
massachusetts = amostra_sem_dup[amostra_sem_dup["state"] == "Massachusetts"] 
puerto_rico = amostra_sem_dup[amostra_sem_dup["state"] == "Puerto Rico"]
connecticut = amostra_sem_dup[amostra_sem_dup["state"] == "Connecticut"]
rhode_island_new_york = amostra_sem_dup[amostra_sem_dup["state"].isin(["Rhode Island", "New York"])]

print(massachusetts.shape)
print(puerto_rico.shape)
print(connecticut.shape)
print(rhode_island_new_york.shape)

(3349, 10)
(2207, 10)
(3111, 10)
(2149, 10)

In [30]:
#pega 250 linhas de cada estado
massachusetts_sample = massachusetts.sample(n=250, random_state=42)
puerto_rico_sample = puerto_rico.sample(n=250, random_state=42)
connecticut_sample = connecticut.sample(n=250, random_state=42)
rhode_island_new_york_sample = rhode_island_new_york.sample(n=250, random_state=42)

In [33]:
#concatena os 4 resultados em um dataframe apenas, com 250 de cada
amostra_final = pd.concat([
    massachusetts_sample,
    puerto_rico_sample,
    connecticut_sample,
    rhode_island_new_york_sample
])

amostra_final

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
32787,for_sale,4.0,4.0,0.97,East Longmeadow,Massachusetts,1028.0,3000.0,2006-09-28,739900.0
66560,for_sale,NaN,NaN,2.80,Otis,Massachusetts,1253.0,NaN,NaN,47500.0
83249,for_sale,2.0,3.0,NaN,Hopkinton,Massachusetts,1748.0,2463.0,NaN,979900.0
64610,for_sale,3.0,3.0,0.30,Great Barrington,Massachusetts,1230.0,2054.0,NaN,769000.0
87718,for_sale,NaN,NaN,2.00,Phillipston,Massachusetts,1331.0,NaN,NaN,45000.0
...,...,...,...,...,...,...,...,...,...,...
95370,for_sale,3.0,1.0,0.14,Glocester,Rhode Island,2814.0,1200.0,2004-09-02,139900.0
95325,for_sale,NaN,NaN,0.38,North Kingstown,Rhode Island,2852.0,NaN,NaN,181900.0
56903,for_sale,NaN,NaN,9.00,Kinderhook,New York,12106.0,NaN,NaN,225000.0
81781,for_sale,12.0,4.0,0.12,Woonsocket,Rhode Island,2895.0,6307.0,2018-03-15,399900.0
95630,for_sale,3.0,2.0,0.18,Warwick,Rhode Island,2889.0,3186.0,NaN,275000.0

In [41]:
#valida
amostra_final.groupby(["status", "state"]).count()[["price"]]

                        price
status   state
for_sale Connecticut      250
         Massachusetts    250
         New York          84
         Puerto Rico      250
         Rhode Island     166

In [38]:
print(amostra_final.shape)

(1000, 10)